{% include 'header.twig' %}


<div class="container col-lg-12">
	<div class="row">

		{% if contentText is not empty %}
			<div class="col-md-12">
				<div class="well ">
					{{ contentText }}
				</div>
			</div>
		{% endif %}
		<div class="col-md-8 col-md-offset-2">


			<div class="well">

				{% if error %}
					<div class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						{{ errorText }}
					</div>
				{% endif %}
				{% if success %}
					<div class="alert alert-dismissible alert-success">
						<button type="button" class="close" data-dismiss="alert">×</button>
						{{ successText }}
					</div>
				{% endif %}


				<p style="text-align: center;">
					<span style="font-weight: 700; font-size: 36px;">
						{{ lang['addfunds.online.title'] }}
					</span>
				</p>

				{% if paymentsList %}

					<form method="post" action="addfunds">

						<div class="form-group">
							<label for="method" class="control-label">{{ lang['addfunds.method'] }}</label>
							<select class="form-control" id="payment_method_new" name="payment_type">
								{% for payment in paymentsList %}
									<option value="{{ payment['id'] }}" {% if data['payment_type'] == payment['id'] %} selected {% endif %}>{{ payment['method_name'] }}</option>
								{% endfor %}
							</select>
						</div>
						<div id="amount_field" class="form-group"></div>

						<div id="button_field" class="form-group"></div>

					</form>


				{% else %}

					<div class="form-group">
						<label for="method" class="control-label">{{ lang['addfunds.method'] }}</label>
						<select disabled class="form-control" id="payment_method_new" name="payment_type">
							<option>{{lang["addfunds.no.payment.method"]}}</option>
						</select>
					</div>

				{% endif %}

			</div>
		</div>
	</div>
</div>


{% if settings["coupon_system"] == 2 %}
	<div class="container col-lg-12">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<div class="well">
					<form method="post" action="kupon">
						<div class="form-group">
							<label for="subject" class="control-label">{{lang["addfunds.coupon.label"]}}</label>
							<input type="text" class="form-control" id="kuponadi" name="kuponadi">
						</div>
						<input type="hidden" name="crsf_token" value="{{ csrf_token() }}">
						<button type="submit" class="btn btn-primary">{{lang["addfunds.coupon.button.text"]}}</button>
					</form>
				</div>

			</div>
		</div>
	</div>
{% endif %}

<div class="container col-lg-12">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p style="text-align: center;">
				<span style="font-weight: 600; font-size: 30px;">
					{{lang["addfunds.transaction.title"]}}
				</span>
			</p>
			<div class="well" style="overflow: auto;">


				<table class="table  ">
					<thead>
						<tr>
							<th>{{lang["addfunds.transaction.id"]}}</th>
							<th>{{lang["addfunds.transaction.amount"]}}</th>
							<th class="width-40">{{lang["addfunds.transaction.method"]}}</th>
							<th>{{lang["addfunds.transaction.date"]}}</th>
							<th class="nowrap">{{lang["addfunds.transaction.transId"]}}</th>
						</tr>
					</thead>
					<tbody>

						{% for transaction in transactions %}
							<tr>
								<td>{{ transaction['payment_id'] }}</td>


								<td>
									{{ convert_currency(transaction['payment_amount'])}}
								</td>


								<td class="width-40">{{ transaction['method_name'] }}</td>
								<td>{{ show_date(transaction['payment_create_date']) }}</td>
								<td class="nowrap">{{ transaction['payment_extra'] }}</td>

							</tr>
						{% endfor %}

					</tbody>
				</table>


				{% if pagination["count"] > 1 %}
					<ul class="pagination">

						{% if pagination["current"] != 1 %}
							<li>
								<a href="addfunds/{{ pagination[" previous"] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
						{% endif %}

						{% set r, l = 3, 3 %}

						{% if pagination['current'] == 1 %}
							{% set r = 7 %}
						{% endif %}

						{% if pagination['current'] == 2 %}
							{% set r = 5 %}
						{% endif %}

						{% if pagination['current'] >= pagination['count'] %}
							{% set l = 5 %}
						{% endif %}

						{% for page in 1..pagination["count"] %}
							{% if page >= (pagination['current']-l) and page <= (pagination['current']+r) %}
								<li {% if page == pagination['current'] %} class="active" {%endif%}>
									<a href="addfunds/{{ page }}{% if search %}?search={{ search }}{% endif %}">{{ page }}</a>
								</li>
							{% endif %}
						{% endfor %}

						{% if pagination['current'] < pagination['count'] %}
							<li>
								<a href="addfunds/{{ pagination['next'] }}{% if search %}?search={{ search }}{% endif %}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						{% endif %}

					</ul>
				{% endif %}


			</div>

		</div>
		{% if contentTextBottom is not empty %}
	<div class="col-md-12">
		<div class="well ">
			{{ contentTextBottom }}
		</div>
	</div>
{% endif %}
	</div>
</div></div></div>{#
		<div style="display:none;" id="loadderr" class="container">
			<div class="row">
				<div id="loading">
					<img id="loading-image" src="/public/ajax-loading.gif" alt="Loading..."/>
					<br>
					<h3 id="processing">
						Processing Payment....
					</h3>
				</div>
			</div>
		</div> #}footer.twig' %}
